
.idea/

Lesson_1/messager/data/__pycache__/

Lesson_1/messager/__pycache__/

Lesson_2/messager/__pycache__/

Lesson_2/messager/logs/__pycache__/

Lesson_2/messager/data/__pycache__/

Lesson_3/messager/__pycache__/

Lesson_3/messager/logs/__pycache__/

Lesson_3/messager/data/__pycache__/

Lesson_4/messager/__pycache__/

Lesson_4/messager/data/__pycache__/

Lesson_4/messager/logs/__pycache__/

Lesson_4(old)/
Lesson_5/messager/__pycache__/

Lesson_5/messager/client/__pycache__/

Lesson_5/messager/data/__pycache__/

Lesson_5/messager/logs/__pycache__/
